html, body {
    margin: 0;
    overflow: hidden;
    font-size: 12px;
}

/*@font-face {*/
/*    font-family: 'DejaVu Sans Mono';*/
/*    src: url('../css/font/dejavu/DejaVuSansMono.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'DejaVu Sans Mono Bold';*/
/*    src: url('../css/font/dejavu/DejaVuSansMono-Bold.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'DejaVu Sans Mono Bold Oblique';*/
/*    src: url('../css/font/dejavu/DejaVuSansMono-BoldOblique.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'DejaVuSans Mono Oblique';*/
/*    src: url('../css/font/dejavu/DejaVuSansMono-Oblique.ttf');*/
/*}*/

@font-face {
    font-family: 'FreeMono Regular';
    src: url('../css/font/gnu-free/FreeMono.ttf');
}

/*@font-face {*/
/*    font-family: 'FreeMono Bold';*/
/*    src: url('../css/font/gnu-free/FreeMonoBold.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'FreeMono Bold Oblique';*/
/*    src: url('../css/font/gnu-free/FreeMonoBoldOblique.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'FreeMono Oblique';*/
/*    src: url('../css/font/gnu-free/FreeMonoOblique.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Ubuntu Mono Bold';*/
/*    src: url('../css/font/ubuntu/UbuntuMono-B.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Ubuntu Mono Bold Italic';*/
/*    src: url('../css/font/ubuntu/UbuntuMono-BI.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'UbuntuMono Regular';*/
/*    src: url('../css/font/ubuntu/UbuntuMono-R.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'UbuntuMono Italic';*/
/*    src: url('../css/font/ubuntu/UbuntuMono-RI.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Liberation Mono Bold';*/
/*    src: url('../css/font/liberation/LiberationMono-Bold.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Liberation Mono Bold Italic';*/
/*    src: url('../css/font/liberation/LiberationMono-BoldItalic.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Liberation Mono Italic';*/
/*    src: url('../css/font/liberation/LiberationMono-Italic.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Liberation Mono Regular';*/
/*    src: url('../css/font/liberation/LiberationMono-Regular.ttf');*/
/*}*/

.webxterm {
    width: 100%;
    height: 100%;
}

.webxterm .container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*transition: 0.15s;*/
    position: relative;:: -webkit-scrollbar: 15 px;
}

.webxterm .measure {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

.webxterm .measure.scrollbar {
    width: 100px;
    height: 100px;
    overflow: scroll;
}

.webxterm .viewport {
    word-break: break-all;
    padding: 0 4px;
}

.webxterm .viewport-row {
    /*position: relative;*/
    /*white-space: pre-wrap;*/
    /*word-break: break-word;*/
    word-break: keep-all;
    font-variant-ligatures: no-common-ligatures;
    z-index: 1;
    overflow: hidden;
}

.webxterm .viewport-row .len2 {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.webxterm .viewport-row .tab {
    white-space: pre;
}

.webxterm .cursor {
    position: relative;
    display: inline-block;
}

/*.webxterm .cursor.cursor-shape-block.cursor-focus.cursor-blink,*/
/*.webxterm .cursor.cursor-focus .outline.cursor-blink{*/
/*    animation: cursor-blink 1s steps(1, end) infinite;*/
/*}*/

.webxterm .cursor.cursor-shape-block.cursor-focus.cursor-blink .outline {
    border-color: transparent !important;
}

.webxterm .cursor .outline {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.webxterm .clipboard {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: transparent;*/
    background-color: red;
    color: transparent;
    z-index: 2;
    height: 0;
    font-size: 1px;
}


.webxterm .composition {
    position: relative;
    border-right: 1px solid transparent;
}

.webxterm .composition:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    bottom: 0;
}

/*@keyframes border-blink { 0%, 50% { border-color: red;} 50.1%, 100% { border-color: transparent; } }*/


/* Character Attributes (SGR) */
/*1*/
.webxterm .viewport-row .bold:not(.italic) {
    /*font-weight: bold;*/
    vertical-align: bottom;
}

/*2*/
.webxterm .viewport-row .faint {
    font-weight: 100 !important;
}

/*3*/
.webxterm .viewport-row .italic:not(.bold) {
    font-style: oblique;
    vertical-align: bottom;
}

.webxterm .viewport-row .italic.bold {
    font-weight: bold;
    font-style: oblique;
    vertical-align: bottom;
}

/*4*/
.webxterm .viewport-row .underline {
    text-decoration: underline;
}

/*5, slowly blinking (less then 150 per minute) */
.webxterm .viewport-row .slow-blink {
    animation: text-blink 1s linear infinite;
}

@keyframes text-blink {
    0%,
    50% {
        opacity: 1;
    }
    50.1%,
    100% {
        opacity: 0;
    }
}

/*6, rapidly blinking (150 per minute or more) */
.webxterm .viewport-row .rapid-blink {
    animation: text-blink 0.5s linear infinite;
}

/*8*/
.webxterm .viewport-row .invisible {
    visibility: hidden;
}

/*9*/
.webxterm .viewport-row .crossed-out {
    text-decoration: line-through;
}


.webxterm .custom-keyboard {
    padding: 5px 0;
    background-color: #cccccc;
    font-family: arial, serif;
}

.webxterm .custom-keyboard-row {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.webxterm .custom-keyboard-row:first-child {
    justify-content: flex-start;
}


.webxterm .custom-keyboard-row-key {
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    color: #222;
    font-size: 20px;
    width: 9vw;
    margin-right: 1vw;
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 0 0 3px #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webxterm .custom-keyboard-row-ctrl {
    border-bottom: 1px solid #ebebeb;
    background-color: #aaa;
    color: #222;
    font-size: 20px;
    width: 10vw;
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 0 0 3px #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webxterm .custom-keyboard-row .key-tab {
    width: 11vw;
    margin-right: 2vw;
}

.webxterm .custom-keyboard-row .key-esc {
    width: 11vw;
    margin-right: 2vw;
}

.webxterm .custom-keyboard-row .key-ctrl {
    width: 11vw;
    margin-right: 2vw;
}

.webxterm .custom-keyboard-row .key-space {
    width: 50vw;
    margin-right: 2vw;
}

.webxterm .custom-keyboard-row .key-enter {
    width: 14vw;
    margin-left: 2vw;
}

.webxterm .custom-keyboard-row .key-shift {
    width: 11vw;
    margin-right: 3vw;
}

.webxterm .custom-keyboard-row .key-shift.active {
    background-color: #222;
    color: #fff;
}

.webxterm .custom-keyboard-row .key-backspace {
    width: 20vw;
}

.webxterm .custom-keyboard-row .custom-keyboard-row-key:last-child {
    margin-right: 0;
}

